# Python-specific ignores
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environments
venv/
env/
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# Environment-specific files
.env

# Jupyter Notebook specific ignores
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/
